@charset "utf-8";

/** common **/
.sub-cont {padding:80px 0;}
.sub-cont .inner {max-width:980px;}
.cont-box {margin-bottom:80px;}
.cont-box:last-child {margin-bottom:0;}

/** title **/
.sub-title {display:flex; flex-wrap:wrap; align-items:flex-end; justify-content:space-between; margin-bottom:25px; padding-bottom:10px; border-bottom:1px solid #707070;}
.sub-title .tit {font-weight:800; font-size:20px;}
.sub-title .btn {height:35px; line-height:35px;}
.en-title {margin-bottom:20px;}
.en-title span {font-weight:500; color:var(--point-color); text-transform:uppercase;}
.en-title .tit {font-size:28px; line-height:1.3;}
.bul-tit {display:block; position:relative; padding-left:20px; font-weight:800;}
.bul-tit::before {content:''; position:absolute; top:5px; left:0; width:15px; height:11px; background:url(../img/icon/ico_point.svg) no-repeat center / contain;}
h3.tit {margin-bottom:20px; font-size:20px; text-align:center;}

/** text deco **/
.t-line {text-decoration:underline !important;} 
.t-hl {background:linear-gradient(to top,rgba(0,75,242,.1) 50%,transparent 50%);} 

/** 텍스트 상자 **/
.gray-box {padding:10px 20px; background:#f5f5f5;}
.line-box {padding:25px; border-radius:3px; border:1px solid #d2d2d2;}

/** dot-list **/
.dot-list {position:relative; padding-left:10px;} 
.dot-list::before {content:'·'; position:absolute; top:0; left:0;} 

/** check-list **/
.check-list {position:relative; padding-left:20px;} 
.check-list::before {content:''; position:absolute; top:8px; left:0; width:14px; height:10px; background:url(../img/icon/ico_check.svg) no-repeat center / contain;} 

/** box-list **/
.box-list > li {margin-bottom:20px;}
.box-list > li:last-child {margin-bottom:0;}

/** 이미지 박스 **/
.img-box {display:flex; align-items:center; justify-content:center; border-radius:6px; background-image:linear-gradient(to bottom,#f7f7f7,#fff);}
.img-box img {display:block; width:100%;}

/** 상단 서브 네비게이션 **/
.sub-nav {position:sticky; top:0; z-index:99; width:100%; padding:0 20px; background:#fff; box-shadow:0 3px 6px 0 rgba(7,32,90,.16);}
.sub-nav ul {display:flex; align-items:center; justify-content:center; max-width:1400px; width:100%; margin:0 auto; white-space:nowrap;}
.sub-nav ul li + li {position:relative; margin-left:60px;}
.sub-nav ul li + li::before {content:''; position:absolute; top:calc(50% - 5px); left:-30px; width:1px; height:10px; background:#d2d2d2; transform:rotate(25deg);}
.sub-nav ul li a {display:block; font-size:18px; line-height:60px; color:#949494;}
.sub-nav ul li.on a {font-weight:600; color:#333;} 

/** 서브 공통 > 로그인 & 회원가입 폼 **/
.basic-form .tit {margin-bottom:20px; font-weight:bold; font-size:16px;}
.basic-form .form-group {display:flex;} 
.basic-form .form-group dl:first-child {margin-right:10px;}
.basic-form [class*='col'] {flex:1 1 auto;}
.basic-form dl:not(:last-child) {margin-bottom:40px;}
.basic-form dl dt {margin-bottom:5px; font-weight:600; font-size:15px;}
.basic-form dl dd [class*='form-input'],
.basic-form dl dd select,
.basic-form dl dd p {width:100%;}
.basic-form dl dd .input-wrap {display:flex; align-items:center;}
.basic-form dl dd .input-wrap .btn {margin-left:10px;}
.basic-form dl dd .btn {height:30px; font-weight:normal; font-size:16px; line-height:30px;}
.basic-form dl dd .check-wrap {margin:0 -40px; padding:15px 40px; background:#f9f9f9; font-size:15px;}
.basic-form dl dd .check-wrap li {display:flex;}
.basic-form dl dd .check-wrap li strong {width:90px; font-weight:500;}
.basic-form dl dd .check-wrap li .check-group {width:calc(100% - 90px);}
.basic-form dl dd .check-wrap .check {margin-right:20px; margin-bottom:10px;}
.basic-form dl dd .check-wrap .check:last-child {margin-right:0;}
.basic-form dl dd .check-wrap .check input[type=text] {height:25px; background:transparent;}
.basic-form dl dd .check-wrap .check.w-full label::before {top:5px;}
.basic-form dl dd .check-wrap .check.w-full label::after {top:9px;}
.basic-form dl dd .term-box {border-radius:3px; border:1px solid #d2d2d2;}
.basic-form dl dd .term-top {padding:10px 25px; border-bottom:1px solid #d2d2d2;}
.basic-form dl dd .term-top .check {font-weight:bold;}
.basic-form dl dd .term-cont {padding:10px 25px;}
.basic-form dl dd .term-cont .check {display:block; font-size:15px; color:var(--gray-color);}
.basic-form dl dd .term-cont .check + .check {margin-top:10px;} 
.basic-form dl dd .term-cont .check input[type=checkbox]:checked + label {color:#333;}
.basic-form dl dd .link {margin-top:10px; text-align:right;}
.basic-form dl dd .link a {margin-right:15px; font-size:14px; color:#949494; text-decoration:underline;}
.basic-form dl dd .link a:last-child {margin-right:0;}

.basic-form.type-02 .form-item {padding:20px 0; border-bottom:1px solid #e1e1e1;}
.basic-form.type-02 .form-item:last-child {border-bottom:0;}
.basic-form.type-02 h3 {margin-bottom:10px; font-weight:bold; font-size:16px;}
.basic-form.type-02 dl {display:table; width:100%;}
.basic-form.type-02 dl:not(:last-child) {margin-bottom:10px;}
.basic-form.type-02 dl dt {display:table-cell; width:120px; font-weight:600; font-size:15px;}
.basic-form.type-02 dl dd {display:table-cell;}

/** 서브 공통 > 신청 박스 **/
.apply-box-wrap + .apply-box-wrap {margin-top:60px;}
.apply-box {position:relative; margin-bottom:15px; padding:30px 40px; border-radius:6px; border:1px solid #d2d2d2; background:#fff; transition:all .3s;}
.apply-box:last-child {margin-bottom:0;}
.apply-box .btn-arrow {flex:0 0 auto; margin-left:auto; font-weight:600;}
.apply-top {display:flex; margin-bottom:30px;}
.apply-top .level {flex:0 0 auto; display:inline-block; width:50px; height:25px; margin-right:10px; border-radius:3px; background:#eaeff5; font-size:14px; line-height:25px; text-align:center;}
.apply-top .tit {margin-right:10px; font-weight:bold; font-size:18px; line-height:1.3; word-break:break-all;}
.apply-cont .txt-wrap {display:flex; justify-content:space-between;}
.apply-cont .txt-wrap .desc {line-height:1.3;}
.apply-cont .info {flex:0 0 auto; margin-left:10px;}
.apply-cont .info span + span::before {content:''; display:inline-block; width:1px; height:10px; margin:0 10px; background:#d2d2d2;}
.apply-cont .info span i {margin-right:5px; color:var(--gray-color);}
.apply-detail {margin-top:20px;}
.apply-detail .detail {display:flex; align-items:baseline; margin-bottom:15px; padding:20px 40px; border-radius:3px; background:#f6f6f6;}
.apply-detail .detail:last-child {margin-bottom:0;}
.apply-detail .detail .tit {font-weight:bold; font-size:17px; line-height:1.3;}
.apply-detail .detail .info {margin-left:30px; margin-right:10px;}
.apply-detail .detail .info span {color:#949494;}

.apply-box[class*='level']::after {content:''; position:absolute; top:-12px; right:30px; width:78px; height:101px; background-repeat:no-repeat; background-position:center; background-size:contain;}
.apply-box.level-01::after {background-image:url(../img/sub/level01.png);}
.apply-box.level-02::after {background-image:url(../img/sub/level02.png);}
.apply-box.level-03::after {background-image:url(../img/sub/level03.png);}
.apply-box[class*='level'] .apply-top {padding-right:80px;}

/** 서브 공통 > depth-list **/
.depth-list > li + li {margin-top:50px;}
.depth-head {border-bottom:1px solid #707070;}
.depth-head a {display:flex; align-items:center; position:relative; padding:10px 30px 10px 0;}
.depth-head a::after {content:''; position:absolute; top:calc(50% - 6px); right:0; width:20px; height:12px; background:url(../img/icon/ico_depth.svg) no-repeat center / contain; transition:all .3s;}
.depth-head.on a::after {transform:rotate(180deg);}
.depth-head strong {display:block; font-size:18px;}
.depth-body .question {border-bottom:1px solid #e1e1e1;}
.depth-body .question a {display:block; position:relative; padding:15px 25px 15px 0;}
.depth-body .question a::before {content:'Q.'; margin-right:5px;}
.depth-body .question a::after {content:''; position:absolute; top:calc(50% - 4px); right:0; width:14px; height:8px; background:url(../img/icon/ico_depth_g.svg) no-repeat center / contain; transition:all .3s;}
.depth-body .question.on {border-color:#707070;}
.depth-body .question.on a::after {transform:rotate(180deg);}
.depth-body .answer {display:none; padding:15px; border-bottom:1px solid #e1e1e1; background:#f5f7fb;}
.depth-body .txt-wrap {padding:15px;}

.depth-list.type-02 .depth-head {border-color:#e1e1e1;}
.depth-list.type-02 .depth-head a::after {background-image:url(../img/icon/ico_depth_g.svg);}
.depth-list.type-02 .depth-head img {width:22px; margin-right:5px;}
.depth-list.type-02 .depth-head strong {font-weight:600;}
.depth-list.type-02 .depth-body {padding-top:10px;}
.depth-list.type-02 .depth-body .tit {padding:5px 20px; background:#f9f9f9; font-weight:500;}
.depth-list.type-02 .depth-body .desc {padding:10px 20px;}

/** 서브 공통 > 리스트 **/
.board-top {display:flex; flex-wrap:wrap; justify-content:space-between; margin-bottom:10px;}
.board-top p {font-size:15px;}
.board-top .total {font-weight:600;}

.basic-list .list-wrap {margin-top:-1px;}
.basic-list .title {display:flex; align-items:baseline; justify-content:space-between; padding:15px 10px; border-top:1px solid #707070; background:#f9f9f9; font-weight:bold;}
.basic-list ul li {display:flex; align-items:baseline; justify-content:space-between; padding:20px 10px; border-bottom:1px solid #e1e1e1;}
.basic-list ul li .tit-wrap {display:flex; align-items:baseline;}
.basic-list ul li .tit-wrap .btn {flex:0 0 auto; width:155px; height:30px; margin-right:10px; font-size:inherit; line-height:30px;}
.basic-list ul li .tit {font-weight:bold; font-size:18px; line-height:1.3; word-break:break-all;}
.basic-list ul li .info {display:flex; flex:0 0 auto; align-items:baseline; margin-left:15px;}
.basic-list ul li .btn-arrow {flex:0 0 auto; margin-left:15px;}
.basic-list ul li .btn-arrow.disabled {color:var(--gray-color) !important; pointer-events:none;}

/** pagination **/
.page-num {position:relative; margin-top:30px; font-size:0; text-align:center;} 
.page-num a {display:inline-block; width:30px; height:30px; padding:0; font-size:16px; line-height:30px; color:#979797; vertical-align:middle;} 
.page-num a:hover {text-decoration:underline;} 
.page-num a.on {font-weight:bold; color:var(--base-color);} 
.page-num .control::before {font-family:'remixicon';}
.page-num .control.first::before {content:'\f2e3';}
.page-num .control.prev::before {content:'\ea64';}
.page-num .control.next::before {content:'\ea6e';}
.page-num .control.last::before {content:'\f2e5';}

/** 특징 **/
.feature .inner {max-width:1380px;}
.feature [class*='-list'] {display:flex; flex-wrap:wrap; margin:0 -10px;}
.feature [class*='-list'] li {width:25%; padding:0 10px;}
.feature [class*='-list'] li p {font-size:20px;}
.feature .cont-01 {padding-bottom:100px;}
.feature .cont-01 .sc-youtube .txt-wrap {margin-bottom:40px; text-align:center;}
.feature .cont-01 .sc-youtube .txt-wrap .tit {margin-bottom:15px; font-weight:800; font-size:32px;}
.feature .cont-01 .sc-youtube .txt-wrap .desc {font-weight:700; font-size:24px;}
.feature .cont-01 .sc-youtube .youtube-wrap {max-width:800px; margin:0 auto;}
.feature .cont-01 .sc-youtube .youtube-box {position:relative; height:0; padding-bottom:56.25%;}
.feature .cont-01 .sc-youtube .youtube-box iframe {position:absolute; top:0; left:0; width:100%; height:100%;}
.feature .cont-02 {padding-bottom:200px;}
.feature .cont-03 {position:relative; min-height:700px; margin-bottom:100px; padding-bottom:20px; background:#f8f8f8;}
.feature .cont-03::before {content:''; position:absolute; bottom:10%; left:4%; width:425px; height:455px; background:url(../img/sub/obj_feature.png);}
.feature .cont-03 .inner {display:flex; transform:translateY(-25px);}
.feature .cont-03 .l-con {width:30%; margin-right:60px;}
.feature .cont-03 .r-con {width:70%;}
.feature .cont-03 .en-title + .txt-wrap p {font-weight:500; font-size:20px;}
.feature .cont-04 .procedure-list li p {font-weight:600;}
.feature .cont-04 .btn-wrap {margin-top:70px;}
.feature .cont-04 .btn-item {width:50%;}

/** 진단평가 신청 **/
.filter-wrap {margin-bottom:80px; border-bottom:1px solid #e1e1e1;}
.filter {display:flex; flex-wrap:wrap; margin-bottom:25px;}
.filter strong {position:relative; width:80px; font-weight:bold;}
.filter strong::after {content:''; position:absolute; top:2px; right:0; width:1px; height:20px; background:#d2d2d2;}
.filter-item {padding:0 20px;}
.filter-item input[type=radio]:focus-visible + label {outline:3px dotted #000;}
.filter-item input[type=radio]:checked + label {background:linear-gradient(to top,rgba(0,75,242,.12) 50%,transparent 50%); font-weight:600;}

.apply {position:relative; z-index:0; background:linear-gradient(#fff 50%,#f8f8f8 50%);}
.apply::before {content:''; position:absolute; bottom:10%; left:4%; z-index:-1; width:275px; height:305px; background:url(../img/sub/obj_apply01.png);}
.apply::after {content:''; position:absolute; bottom:37%; right:4%; z-index:-1; width:285px; height:285px; background:url(../img/sub/obj_apply02.png);}
.apply-wrap {min-height:700px;}

/** 신청내역 **/
.detail-list {display:flex; flex-wrap:wrap; margin:0 -10px;}
.detail-list li {width:50%; padding:0 10px;}
.detail-list li:nth-child(n+3) {margin-top:30px;}
.detail-list li .tit {overflow:hidden; display:block; margin-bottom:5px; font-size:18px; text-overflow:ellipsis; white-space:nowrap;} 
.detail-list li .detail-box {padding:30px 40px; background:#f6f6f6;}
.detail-list li .detail-info dl {display:flex; flex-wrap:wrap; justify-content:space-between;} 
.detail-list li .detail-info dl + dl {margin-top:10px;}
.detail-list li .detail-info dl dt {margin-right:10px; font-weight:500;}
.detail-list li .info {margin-top:30px; padding:15px; background:#fff; text-align:center;}
.detail-list li .info span + span::before {content:''; display:inline-block; width:1px; height:10px; margin:0 10px; background:#d2d2d2;}
.detail-list li .info span i {margin-right:5px; color:var(--gray-color);}
.detail-list li .btn {width:100%; margin-top:10px;}

/** 신청완료 **/
.img-box-wrap {margin-top:60px; padding:0 80px;}
.img-box-wrap .txt-wrap {margin-bottom:40px; text-align:center;}
.img-box-wrap .txt-wrap strong {display:block; margin-bottom:10px; font-weight:bold; font-size:24px;}
.img-box-list {display:flex; margin:0 -30px;}
.img-box-list li {width:50%; padding:0 30px; text-align:center;}
.img-box-list li strong {display:block; margin-bottom:10px; font-size:20px;}
.img-box-list + .btn {margin-top:40px;}

/** 리포트 확인 **/
.report .info-wrap {display:flex;}
.report .info-item {width:50%; padding:20px 30px; background:#eaeff5;}
.report .info-item:first-child {margin-right:20px;}
.report .info-item dl {display:flex;}
.report .info-item dl + dl {margin-top:10px;}
.report .info-item dl dt {position:relative; width:90px;}
.report .info-item dl dt::after {content:''; position:absolute; top:3px; right:0; width:1px; height:16px; background:#828282;}
.report .info-item dl dd {width:calc(100% - 90px); margin-left:15px;}
.report .gray-box em {font-size:20px; font-weight:bold;}
.report .txt-wrap + .txt-wrap {margin-top:20px;}
.report .txt-wrap p + p {margin-top:10px;}
.report .sub-title .school {margin-left:10px; font-size:14px;}
.report .chart-wrap {display:flex; flex-wrap:wrap; margin:0 -10px;} 
.report .chart-item {width:50%; padding:0 10px;}
.report .chart-top {position:relative; margin-bottom:20px; padding-bottom:10px; border-bottom:1px solid #e1e1e1;}
.report .chart-top .tit {font-weight:800;}
.report .chart-top .score {position:absolute; bottom:5px; right:0; font-weight:bold; color:var(--gray-color);}
.report .chart-top .score .num {font-weight:800; color:var(--point-color);}
.report .chart-top .score .big {font-size:28px;}
.report .chart-cont {display:flex; flex-wrap:wrap; margin:0 -5px;}
.report .chart-item:last-child .chart-cont {margin-top:50px;}
.report .chart-area {width:50%; padding:0 5px;}
.report .chart-area span {display:block; width:80px; height:30px; margin:0 auto; border-radius:3px; background:#eaeff5; line-height:30px; text-align:center;}
.report .list-tbl td.tit {text-align:left;}
.report .list-tbl td.level [class*='star'] {display:block; height:18px; margin:0 auto; background:url(../img/sub/star.png) no-repeat left / cover; font-size:0;}
.report .list-tbl td.level .star-01 {width:18px;}
.report .list-tbl td.level .star-02 {width:42px;}
.report .list-tbl td.level .star-03 {width:66px;}
.report .list-tbl td.level .star-04 {width:90px;}
.report .list-tbl td.level .star-05 {width:114px;}
.report .list-tbl td.time .progressbar {overflow:hidden; width:60px; margin:5px auto 0; border-radius:15px; background:#eaeff5;}
.report .list-tbl td.time .progressbar .gauge {display:block; width:0; height:6px; background:var(--point-color); transition:all 1.5s;}
.report .list-tbl td.time .progressbar.disabled .gauge {background:#c5c5c5; transition:none;}
.report .list-tbl td.ability span {display:inline-block; width:100px; height:30px; border-radius:17px; background:#eaeff5; line-height:30px;}

/** 모의고사 강의실 **/
.lc-room {display:flex; margin:0 -25px;}
.lc-room > div {width:50%; padding:0 25px;}
.lc-room .info-wrap {margin-bottom:15px;}
.lc-room .info-wrap dl {display:flex;}
.lc-room .info-wrap dl + dl {margin-top:10px;}
.lc-room .info-wrap dl dt {position:relative; width:60px;}
.lc-room .info-wrap dl dt::after {content:''; position:absolute; top:3px; right:0; width:1px; height:16px; background:#828282;}
.lc-room .info-wrap dl dd {width:calc(100% - 60px); margin-left:15px;}
.lc-room .edu-detail-list {overflow-y:auto; position:relative; height:528px;}
.lc-room .edu-detail-list li {padding:20px 0; border-bottom:1px solid #d2d2d2;}
.lc-room .edu-detail-list li:first-child {padding-top:0;}
.lc-room .edu-detail-list li .detail-top {display:flex; flex-wrap:wrap; align-items:baseline; justify-content:space-between; margin-bottom:10px;}
.lc-room .edu-detail-list li .detail-top .cate > span {display:inline-block; height:30px; padding:0 15px; line-height:30px;}
.lc-room .edu-detail-list li .detail-top .state {margin-right:10px; border-radius:3px; border:1px solid var(--base-color); font-weight:600;}
.lc-room .edu-detail-list li .detail-top .state.disabled {border-color:#a8a8a8; color:#979797;}
.lc-room .edu-detail-list li .detail-top .round {border-radius:15px; background:#eaeff5;}
.lc-room .edu-detail-list li .detail-cont {display:flex;}
.lc-room .edu-detail-list li .detail-item {width:50%;}
.lc-room .edu-detail-list li .detail-item:first-child {margin-right:10px;}
.lc-room .edu-detail-list li .detail-item .thumb {overflow:hidden; position:relative; width:100%; height:95px; border-radius:3px; border:1px solid #e1e1e1;}
.lc-room .edu-detail-list li .detail-item .thumb img {display:block; width:100%; height:100%;}
.lc-room .edu-detail-list li .detail-item .thumb .time {position:absolute; bottom:0; right:0; padding:0 10px; background:rgba(4,18,49,.6); font-size:14px; color:#fff;}
.lc-room .edu-detail-list li .detail-item .thumb .time i {margin-right:3px;}
.lc-room .edu-detail-list li .detail-item .btn {width:100%; height:30px; margin-top:7px; font-size:14px; line-height:30px;}

/** 설명회 **/
.video-box .cate {display:flex; align-items:center; margin-bottom:20px;}
.video-box .round {display:inline-block; width:90px; height:30px; margin-right:10px; padding:0 15px; border-radius:15px; background:#ff8000; font-weight:600; line-height:30px; color:#fff; text-align:center;}
.video-box .round.disabled {background:#e8e8e8; color:#949494;}
.video-box .square {display:inline-block; height:25px; padding:0 15px; border-radius:3px; background:#eaeff5; font-size:14px; line-height:25px;}
.video-box .info {display:flex; align-items:flex-end; justify-content:space-between;}
.video-box .txt-wrap .tit {font-weight:bold; font-size:18px; line-height:1.3;}
.video-box .txt-wrap .date {margin-top:5px;}
.video-box .txt-wrap .date i {margin-right:5px; color:var(--gray-color);}
.video-box .txt-wrap .date span + span::before {content:''; display:inline-block; width:1px; height:10px; margin:0 10px; background:currentColor;}
.video-box .btn-wrap {flex:0 0 auto; display:block; width:200px; margin-left:15px;}
.video-box .btn-wrap p {margin-bottom:5px; font-size:14px; color:var(--gray-color); text-align:center;}
.video-box .btn-wrap .btn {width:100%; height:30px; font-size:14px; line-height:30px;}

/** 회원메뉴 > 학습현황 **/
.lc-room.status .btn-wrap .btn {flex:1 1 auto; height:35px; line-height:35px;}
.lc-room.status .btn-kakao {background:#ffe100;}
.lc-room.status .btn-kakao:hover,
.lc-room.status .btn-kakao:active,
.lc-room.status .btn-kakao:focus {background:#f5d905;}
.lc-room.status .noti-box {overflow-y:auto; height:250px; margin-top:25px;}
.lc-room.status .noti-box.mCustomScrollbar {padding-right:10px;}
.lc-room.status .noti-box .cont-head {margin-bottom:15px;}
.lc-room.status .noti-box .cont-head .tit {font-weight:bold; font-size:18px;}
.lc-room.status .noti-box .cont-head .date {font-size:14px; color:#afafaf;}
.lc-room.status .edu-detail-list {height:577px;}
.lc-room.status .edu-detail-list li .detail-item {position:relative;}
.lc-room.status .edu-detail-list li .detail-item .date {font-weight:400;}
.lc-room.status .edu-detail-list li .detail-item .btn {position:absolute; left:0; bottom:0;}

/** 회원메뉴 > 결제/배송 **/
.receipt .date {display:block; padding:15px 10px; background:#f9f9f9; font-weight:bold;}
.receipt .info {padding:20px 10px; border-bottom:1px solid #e1e1e1;}
.receipt dl {display:flex; align-items:baseline; justify-content:space-between;}
.receipt dl + dl {margin-top:15px;}
.receipt dl dt {flex:0 0 auto; margin-right:15px; font-weight:600; font-size:15px;}
.receipt dl dd {word-break:break-all; text-align:right;}

.buy-prd-box .state {display:block; margin-bottom:15px; font-weight:bold;}
.buy-prd-box .info {display:flex;}
.buy-prd-box .info .img-wrap {flex:0 0 auto; overflow:hidden; width:100px; height:100px; margin-right:25px; border-radius:3px;}
.buy-prd-box .info .img-wrap img {display:block; width:100%; height:100%;}
.buy-prd-box .info .txt-wrap .date {font-size:15px; color:#979797;}
.buy-prd-box .info .txt-wrap .price {font-weight:800;}
.buy-prd-box .info .txt-wrap .evaluator {margin-top:15px;}
.buy-prd-box .btn {width:100%; height:40px; margin-top:20px; font-size:inherit; line-height:40px;}

/** 회원메뉴 > 회원정보 변경 **/
.change-info .basic-form .form-item {border-bottom:0;}
.change-info .basic-form .form-item dl dt {width:120px;}
.change-info .basic-form .form-item dl dd [class*='form-input'], 
.change-info .basic-form .form-item dl dd select {max-width:300px;}

/** 회원메뉴 > 1:1 문의 **/
.inquiry-list ul li .tit-wrap > span {flex:0 0 auto; width:90px; text-align:center;}
.inquiry-list ul li .state {color:#979797;}
.inquiry-list ul li .state.on {color:var(--point-color);}
.inquiry-list ul li .date {margin-right:20px; color:var(--gray-color);}
.inquiry-list ul li .btn-wrap .btn {height:35px; font-size:16px; line-height:35px;}

/** 회원메뉴 > 문의하기 **/
.board-write .basic-form {margin-bottom:30px; border-bottom:1px solid #e1e1e1;}
.board-write .write-form .write-item {margin-bottom:30px;}
.board-write .write-form .write-item:last-child {margin-bottom:0;}
.board-write .write-form .write-item input {width:100%;}
.board-write .btn {width:100%; margin-top:50px;}


/** 1024px 시작 **/
@media screen and (max-width:1024px) {
    /** title **/
    .en-title {margin-bottom:10px;}
    .en-title span {font-size:14px;}
    .en-title .tit {font-size:24px;}

    /** 상단 서브 네비게이션 **/
    .sub-nav ul li a {font-size:16px;}

    /** 서브 공통 > 신청 박스 **/
    .apply-box-wrap + .apply-box-wrap {margin-top:30px;} 
    .apply-detail .detail .tit {font-size:16px;}

    /** 특징 **/
    .feature [class*='-list'] li {width:50%;}
    .feature [class*='-list'] li:nth-child(n+3) {margin-top:50px;}
    .feature .cont-01 {padding-bottom:80px;}
    .feature .cont-01 .sc-youtube .txt-wrap .tit {margin-bottom:5px; font-size:26px;}
    .feature .cont-01 .sc-youtube .txt-wrap .desc {font-size:20px;}
    .feature .cont-02 {padding-bottom:100px;}
    .feature .cont-03 {margin-bottom:80px; padding-bottom:0; background:transparent;}
    .feature .cont-03::before {content:none;}
    .feature .cont-03::after {content:''; position:absolute; top:20%; bottom:50px; left:0; right:0; z-index:-1; background:#f8f8f8;}
    .feature .cont-03 .inner {flex-direction:column; transform:translateY(0);}
    .feature .cont-03 .l-con {width:100%; margin-right:0; margin-bottom:50px;}
    .feature .cont-03 .r-con {width:100%;}
    .feature .cont-04 .btn-wrap {flex-direction:column;}
    .feature .cont-04 .btn-item {width:100%;}
    .feature .cont-04 .btn-item:last-child {margin-left:0; margin-top:20px;}

    /** 진단평가 신청 **/
    .apply::before,
    .apply::after {content:none;}

    /** 신청완료 **/
    .img-box-wrap {padding:0 20px;}
    .img-box-list {margin:0 -10px;}
    .img-box-list li {padding:0 10px;}

    /** 리포트 확인 **/
    .report .info-item {padding:20px;}
    .report .chart-wrap {margin:0;}
    .report .chart-item {width:100%; margin-bottom:40px; padding:0;}
    .report .chart-item:last-child {margin-bottom:0;}
    .report .chart-item:last-child .chart-cont {margin-top:0;}

    /** 모의고사 강의실 **/
    .lc-room {flex-direction:column; margin:0;}
    .lc-room > div {width:100%; padding:0;}
    .lc-room > .l-con {margin-bottom:40px;}
    .lc-room .edu-detail-list {height:auto !important;}

    /** 회원메뉴 > 1:1 문의 **/
    .inquiry-list ul li {flex-direction:column; align-items:normal; padding:10px;}
    .inquiry-list ul li .tit-wrap {flex-wrap:wrap;}
    .inquiry-list ul li .tit-wrap > span {width:auto;}
    .inquiry-list ul li .state {margin-left:auto;}
    .inquiry-list ul li .tit {width:100%;}
    .inquiry-list ul li .info {margin-top:5px; margin-left:0;}
    .inquiry-list ul li .btn-wrap {margin-left:auto;}
}
/** 1024px 끝 **/

/** 767px 시작 **/
@media screen and (max-width:767px) {
    /** common **/
    .sub-cont {padding:40px 0;}
    .cont-box {margin-bottom:50px;}

    /** title **/
    .sub-title .tit {font-size:17px;}
    .en-title span {font-size:12px;}
    .en-title .tit {font-size:18px;}
    h3.tit {margin-bottom:10px; font-size:17px;}

    /** 텍스트 상자 **/
    .gray-box br {display:none;}
    .line-box {padding:15px;}

    /** 상단 서브 네비게이션 **/
    .sub-nav {overflow-x:auto;}
    .sub-nav ul li + li {margin-left:20px;}
    .sub-nav ul li + li::before {left:-10px;}
    .sub-nav ul li a {font-size:14px; line-height:50px;}

    /** 서브 공통 > 로그인 & 회원가입 폼 **/
    .basic-form dl dd .btn {font-size:14px;}
    .basic-form dl dd .check-wrap {margin:0 -20px; padding:15px 20px;}
    .basic-form.type-02 dl dd .check {display:block; margin-top:5px;}

    /** 서브 공통 > 신청 박스 **/
    .apply-box {padding:15px 20px;}
    .apply-box .btn-arrow {font-size:14px;}
    .apply-top {margin-bottom:10px;}
    .apply-top .level {height:20px; font-size:12px; line-height:20px;}
    .apply-top .tit {font-size:15px;}
    .apply-cont .txt-wrap .desc {font-size:14px;}
    .apply-cont .info span {font-size:13px;}
    .apply-cont .info span + span::before {height:8px; margin:0 5px;}
    .apply-detail {margin-top:10px;}
    .apply-detail .detail {margin-bottom:10px; padding:10px 20px;}
    .apply-detail .detail .tit {font-size:14px;}

    .apply-box[class*='level']::after {right:10px; width:50px; height:65px;}
    .apply-box[class*='level'] .apply-top {padding-right:50px;}

    /** 서브 공통 > depth-list **/
    .depth-list > li + li {margin-top:30px;}
    .depth-head a {padding:5px 30px 5px 0;}
    .depth-head a::after {width:14px; height:8px;}
    .depth-head strong {font-size:16px;}
    .depth-body .question a {padding:10px 25px 10px 0;}
    .depth-body .answer,
    .depth-body .txt-wrap {padding:10px;}

    /** 서브 공통 > 리스트 **/
    .basic-list .title {padding:10px;}
    .basic-list ul li {flex-direction:column; align-items:normal; padding:10px;}
    .basic-list ul li .tit-wrap .btn {width:105px; padding:0 10px; font-size:12px;}
    .basic-list ul li .tit {font-size:15px;}
    .basic-list ul li .info {margin-left:0;}
    .basic-list ul li .btn-arrow {margin-left:auto;}
    .page-num a {font-size:14px;} 

    /** 특징 **/
    .feature [class*='-list'] {margin:0 -5px;}
    .feature [class*='-list'] li {padding:0 5px;}
    .feature [class*='-list'] li:nth-child(n+3) {margin-top:20px;}
    .feature [class*='-list'] li p {font-size:15px;}
    .feature .cont-01 .sc-youtube .txt-wrap .tit {font-size:19px;}
    .feature .cont-01 .sc-youtube .txt-wrap .desc {font-size:16px;}
    .feature .cont-02 {padding-bottom:80px;}
    .feature .cont-02 .feature-list li br {display:none;}
    .feature .cont-03 {min-height:auto;}
    .feature .cont-03 .l-con {margin-bottom:30px;}
    .feature .cont-03 .en-title + .txt-wrap p {font-size:15px;}
    .feature .cont-04 .btn-wrap {margin-top:40px;}
    .feature .cont-04 .btn-item:last-child {margin-top:10px;} 
    .feature .cont-04 .btn-item p {font-size:14px;}

    /** 진단평가 신청 **/
    .filter-wrap {margin-bottom:50px;}
    .filter {margin-bottom:10px;}
    .filter strong {width:60px;}
    .filter strong::after {top:5px; height:10px;}
    .filter-item {padding:0 10px;}

    /** 신청내역 **/
    .detail-list {margin:0;}
    .detail-list li {width:100%; padding:0;}
    .detail-list li:nth-child(n+2) {margin-top:30px;}
    .detail-list li .tit {font-size:15px;}
    .detail-list li .detail-box {padding:15px 20px;}
    .detail-list li .detail-info dl + dl {margin-top:5px;}
    .detail-list li .info {margin-top:20px; padding:10px;}
    .detail-list li .info span {font-size:13px;}

    /** 신청완료 **/
    .img-box-wrap {margin-top:30px; padding:0;}
    .img-box-wrap .txt-wrap strong {font-size:18px;}
    .img-box-list {margin:0 -5px;}
    .img-box-list li {padding:0 5px;}
    .img-box-list li strong {margin-bottom:5px; font-size:16px;}
    .img-box-list li p {font-size:14px;}

    /** 리포트 확인 **/
    .report .info-wrap {flex-direction:column;}
    .report .info-item {width:100%;}
    .report .info-item:first-child {margin-right:0; padding-bottom:0;} 
    .report .gray-box em {font-size:16px;}
    .report .sub-title .school {font-size:12px;}
    .report .chart-area span {height:25px; line-height:25px;}
    .report .list-tbl {white-space:nowrap;}

    /** 설명회 **/
    .video-box .cate {margin-bottom:10px;}
    .video-box .round {height:25px; line-height:25px;}
    .video-box .info {flex-direction:column; align-items:flex-start;}
    .video-box .txt-wrap .tit {font-size:15px;}
    .video-box .txt-wrap .date {margin-top:0;}
    .video-box .btn-wrap {width:100%; margin:10px auto 0;}

    /** 회원메뉴 > 학습현황 **/
    .lc-room.status .noti-box {height:auto;}
    .lc-room.status .noti-box .cont-head .tit {font-size:15px;}
    .lc-room.status .edu-detail-list li .detail-cont {flex-direction:column;}
    .lc-room.status .edu-detail-list li .detail-item {width:100%;}
    .lc-room.status .edu-detail-list li .detail-item:first-child {margin-right:0; margin-bottom:10px;}
    .lc-room.status .edu-detail-list li .detail-item .date {display:block; text-align:right;}
    .lc-room.status .edu-detail-list li .detail-item .date br {display:none;}
    .lc-room.status .edu-detail-list li .detail-item .btn {position:static;}

    /** 회원메뉴 > 결제/배송 **/
    .receipt .date,
    .receipt .info {padding:10px;}
    .receipt dl dt {max-width:150px; font-size:14px;}
    .buy-prd-box .state {margin-bottom:10px;}

    /** 회원메뉴 > 1:1 문의 **/
    .inquiry-list ul li .btn-wrap .btn {height:30px; font-size:14px; line-height:30px;}

    /** 회원메뉴 > 문의하기 **/
    .board-write .write-form .write-item {margin-bottom:15px;}
}
/** 767px 끝 **/

/** 480px 시작 **/
@media screen and (max-width:480px) {
    /** 서브 공통 > 신청 박스 **/
    .apply-top .btn-arrow {position:absolute; bottom:15px; right:20px;}
    .apply-box:not([class*='level']) .apply-cont {padding-bottom:30px;}
    .apply-cont .txt-wrap {flex-direction:column;}
    .apply-cont .info {margin:0 !important;}
    .apply-detail .detail {flex-direction:column;}
}

/** 480px 끝 **/

/** 360px 시작 **/
@media screen and (max-width:360px) {
    /** 회원메뉴 > 결제/배송 **/
    .buy-prd-box .info .img-wrap {display:none;}
}
/** 360px 끝 **/